name: tests
on:
  push:
    branches:
      - main
  pull_request:
    branches:
    - '*'
  workflow_dispatch:
    inputs:
      target:
        description: "How much of the test suite to run"
        type: choice
        default: default
        options:
          - default
          - full
          - downstream
      cache:
        description: "Use cache"
        type: boolean
        default: true
  schedule:
    - cron: '0 15 * * SUN'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  pre_commit:
    name: Run pre-commit
    runs-on: 'ubuntu-latest'
    steps:
      - uses: holoviz-dev/holoviz_tasks/pre-commit@v0.1a17
  setup:
    name: Setup workflow
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ env.MATRIX }}
    steps:
      - name: Set matrix option
        run: |
          if [[ '${{ github.event_name }}' == 'workflow_dispatch' ]]; then
            OPTION=${{ github.event.inputs.target }}
          elif [[ '${{ github.event_name }}' == 'schedule' ]]; then
            OPTION="full"
          elif [[ '${{ github.event_name }}' == 'push' && '${{ github.ref_type }}' == 'tag' ]]; then
            OPTION="full"
          else
            OPTION="default"
          fi
          echo "MATRIX_OPTION=$OPTION" >> $GITHUB_ENV
      - name: Set test matrix with 'default' option
        if: env.MATRIX_OPTION == 'default'
        run: |
          MATRIX=$(jq -nsc '{
              "os": ["ubuntu-latest", "macos-latest", "windows-latest"],
              "python-version": ["3.8", "3.11"]
          }')
          echo "MATRIX=$MATRIX" >> $GITHUB_ENV
      - name: Set test matrix with 'full' option
        if: env.MATRIX_OPTION == 'full'
        run: |
          MATRIX=$(jq -nsc '{
              "os": ["ubuntu-latest", "macos-latest", "windows-latest"],
              "python-version": ["3.8", "3.9", "3.10", "3.11"]
          }')
          echo "MATRIX=$MATRIX" >> $GITHUB_ENV
      - name: Set test matrix with 'downstream' option
        if: env.MATRIX_OPTION == 'downstream'
        run: |
          MATRIX=$(jq -nsc '{
              "os": ["ubuntu-latest"],
              "python-version": ["3.11"]
          }')
          echo "MATRIX=$MATRIX" >> $GITHUB_ENV

  test_suite:
    name: Pytest on ${{ matrix.os }} with Python ${{ matrix.python-version }}
    needs: [pre_commit, setup]
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      # matrix: ${{ fromJson(needs.setup.outputs.matrix) }}
      matrix:
        os: ['ubuntu-latest']
        python-version: ['3.10']
    timeout-minutes: 90
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - uses: holoviz-dev/holoviz_tasks/install@v0.1a17
        with:
          name: unit_test_suite
          python-version: ${{ matrix.python-version }}
          channel-priority: strict
          channels: pyviz/label/dev,conda-forge,nodefaults
          envs: "-o examples_tests -o tests -o examples_conda"
          cache: ${{ github.event.inputs.cache || github.event.inputs.cache == '' }}
          conda-update: true
        id: install
      - name: doit test_unit
        run: |
          conda activate test-environment
          doit test_unit
      - name: test examples
        run: |
          conda activate test-environment
          bokeh sampledata
          doit test_examples
      - name: codecov
        run: |
          conda activate test-environment
          codecov
  pip_test:
    timeout-minutes: 90
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # os: ['ubuntu-latest', 'macos-latest', 'windows-latest']
        os: ['macos-latest']
        # python-version: ['3.8', '3.10', '3.12']
        # python-version: ['3.10']
        python-version: ["3.8", "3.9", "3.10", "3.11", "3.12"]
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: debug
        run: |
          import sys
          print(sys.version_info)
        shell: python
      - name: install
        run: pip install ."[tests, examples_tests]"
      - name: pip list
        run: pip list
      - name: bokeh sampledata
        run: bokeh sampledata
      - name: unit tests
        run: pytest -v hvplot --cov=hvplot --cov-append
      - name: examples tests
        run: pytest -n auto --dist loadscope --nbval-lax -p no:python
  # core_test_suite:
  #   name: Core tests on Python ${{ matrix.python-version }}, ${{ matrix.os }}
  #   needs: [pre_commit, setup]
  #   runs-on: ${{ matrix.os }}
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       os: ['ubuntu-latest']
  #       python-version: ['3.12']
  #   timeout-minutes: 120
  #   defaults:
  #     run:
  #       shell: bash -el {0}
  #   env:
  #     DESC: "Python ${{ matrix.python-version }}, ${{ matrix.os }} core tests"
  #     PYTHON_VERSION: ${{ matrix.python-version }}
  #   steps:
  #     # Add back when this works on Python 3.12
  #     # - uses: holoviz-dev/holoviz_tasks/install@v0.1a17
  #     #   with:
  #     #     name: core_test_suite
  #     #     python-version: ${{ matrix.python-version }}
  #     #     # channel-priority: strict
  #     #     channels: pyviz/label/dev,conda-forge,nodefaults
  #     #     envs: "-o tests_core -o tests_ci"
  #     #     cache: ${{ github.event.inputs.cache || github.event.inputs.cache == '' }}
  #     #     conda-update: true
  #     #     id: install
  #     - uses: actions/checkout@v4
  #       with:
  #         fetch-depth: "100"
  #     - name: Fetch unshallow
  #       run: git fetch --prune --tags --unshallow -f
  #     - uses: actions/setup-python@v4
  #       with:
  #         python-version: 3.12
  #     - run: |
  #         python -m pip install -ve '.[tests_core]'
  #     - name: bokeh sampledata
  #       run: |
  #         # conda activate test-environment
  #         bokeh sampledata
  #     - name: doit test_unit
  #       run: |
  #         # conda activate test-environment
  #         pytest hvplot
